:root {
    --color-de-fondo: #F5F5F5;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
    --color-primario:#ffff;
    --color-secundario:#f02828;
    --color-terciario:#264d31;
    --color-cuarto:#0000;
    --color-quinto:#a9ea65;
    --color-sexto:#00fbff;
    --color-octavo:#3cd0d2;
    --color-septimo:#0c2fcc;
    --color-dorado:#d79d28;
    --color-morado: #5300C8;
    --imagen-de-perfil: url(img/Mi foto.jpeg);
    --imagen-de-encabezado: url(img/barra pizelada);
    --fuente-calibri:'calibri';
    --fuente-calibri-negrita:'calibri', 'bold';
}

/* Header */

.encabezado{
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
}

body {
    background: linear-gradient(to bottom, rgb(233, 255, 254), rgb(135, 206, 235), rgb(0, 0, 128));
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
    height: auto;
    margin: auto;
}


/* Logo */

.logo_principal{
    width: 5%;
    height: auto;
    object-fit: contain;
}

/* AluraGeek */

/*HEADER*/

.header{
    background-color: var(--color-septimo);
}

/*TITULO*/

.titulo__principal{
    background-image: url(img/barra\ pixelada.png);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: content-box;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 150%;
    color: var(--color-de-link);
}

/*MIS PRODUCTOS*/

.container{
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    background: var(--color-primario);
    border: none;
    box-shadow: -5px 6px 3.3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.products-container {
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
    overflow-y: auto; /* Para habilitar el scroll vertical si hay muchos productos */
    max-height: 720px; /* Limitar la altura del contenedor */
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
    background-color: var(--color-primario);
}

.producto{
    width: 176px;
    height: 20px;
    
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */
    
    color: none;
}


/*CARTAS*/

/* Product - Card */
.card{
    box-sizing: border-box;    
    }

/*layout*/

.card_list{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%;
    width: auto;
}

.card{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 50%;
    width: calc(30% - 5px);
    margin-bottom: 10px;
    background-color: var(--color-septimo);
    border: 1px solid var(--color-de-link);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: -5px 6px 3.3px rgba(0, 0, 0, 0.25);
}

.card-container--info {
    margin-top: 10px;
    color: var(--color-primario);
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    width: 100%;
  }
  
.card-container--value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }

.card-container--value img{
    width: auto;
    height: 20px;
  }

/*imagen carta*/

.image{
    position: relative;;
    width: auto;
    height: 50%;
    object-fit: contain;
    border-radius: 10px;
    margin-top: 5px;
}

/*ELIMINAR PRODUCTO*/

.btn__eliminar__producto{
    position: relative;
    padding: 10px;
    border: 2px solid var(--color-primario);
    background: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
    float: right;
}

@media (max-width: 768px) { /* Ajusta el valor de max-width según tus necesidades */
    .btn__eliminar__producto {
      display: none;
    }
  }

/*AGREGAR PRODUCTO*/

.campo__etiqueta{
    color: var(--color-primario);
    font-family: 'IBM Plex Mono';
}


input {
    margin: 5px 0;
    padding: 10px;
    border: 2px solid var(--color-septimo);
    border-radius: 50px;
}

/* input */

.nombre_input{
    width: 100%;
    height: 58px;    
}

.boton__enviar{
    padding: 6px;
    width: 60%;
    font-size: 1rem;
    font-family: var(--fuente-calibri);
    border: none;
    background: var(--color-septimo);
    color: var(--color-primario);
    border-radius: 10px;
    cursor: pointer;
}

.boton__limpiar{
    padding: 6px;
    width: 60%;
    font-size: 1rem;
    font-family: var(--fuente-calibri);
    border: 2px solid var(--color-septimo);
    background: var(--color-primario);
    color: var(--color-septimo);
    border-radius: 10px;
    cursor: pointer;
}

/* MIS PRODUCTOS: */

.scroll-container img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Para que la imagen mantenga su relación de aspecto */
  }

/* AGREGAR PRODUCTO: */

.agregar_producto_forma{
    width: 200px;
    height: auto;
    position: relative;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: none;
    color: var(--color-de-link);
}

.agregar_producto_titulo{
    color: var(--color-primario);
    font-size: 1.5rem;
    font-family: Verdana, Tahoma, sans-serif;
}

/* Rectangle 1 */

.add-product-form{
    box-sizing: border-box;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: var(--color-primario);
    
}

/* nombre... */

.nombre__producto{
    left: 3.61%;
    right: 44.58%;
    top: 17.24%;
    bottom: 15.52%;
    width: 200px;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn__eliminar__producto img {
  max-width: 20px; /* Ajusta el ancho máximo según sea necesario */
  max-height: 20px; /* Ajusta la altura máxima según sea necesario */
  display: block;
  margin: auto;
}

/*------------------------------ FOOTER (RODAPIE) ---------------------------------*/

.footer{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenido_footer{
    display: flex;
    height: auto;
    width: 100%;
    background-color: var(--color-septimo);
}

.presentación_enlaces{
    display: flex;
    justify-content: center;
}

.footer_text_contenido{
    display: flex;
    width: 50%;
}

.derechos_de_autor_text{
    position: relative;
    display: flex;
    font-size: 70%;
    color: var(--color-primario);
    font-family: var(--fuente-calibri);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
}

.presentación__logo__personal{
    display: flex;
    flex-wrap: wrap;
    width: 60px;
    height:auto;
}

.presentación__enlaces__iconos img{
    margin: 0 8px;
}

.redes{
    display: flex;
    flex-wrap: wrap;
}

/* ------------------------------ Responsividad ---------------------------------------*/

/**BREAKPOINTS**/

.resolucion{
    width: 100%;
}

/* Móvil */
@media (max-width: 767px) {
    .products-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .card {
        height: auto;
        width: 85%;
        margin: 0 auto;
    }
    .card img {
        max-width: 100%;
        height: auto;
    }
    .card-container--value {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Tableta */
@media (min-width: 768px) and (max-width: 990px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Cambiar a dos columnas */
        gap: 20px; /* Espaciado entre elementos */
    }
    .card {
        height: auto;
        width: 100%;
        max-width: 280px;
    }
    .card img {
        max-width: 100%;
        height: auto;
    }
}

/* Escritorio */
@media (min-width: 991px) { /* Ajuste del breakpoint máximo */
    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Cambiar a dos columnas */
        gap: 20px; /* Espaciado entre columnas */
    }
    .card {
        height: 500px;
        width: 100%;
        max-width: 300px;
    }
    .card img {
        max-width: 100%;
        height: auto;
    }
}
